/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	/*line-height:	1.0;*/			
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:100px; /* left offset of submenus need to match (see below) */
	border:4px solid #124e71;
	background:#1C5D82 !important;	
}
.sf-menu ul li {
	width:auto;	
	display:block;		
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
	z-index:11;		
}
.sf-menu a {
	display:		block;
	position:		relative;		
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			4.2em;    /* match top ul list item height */
	z-index:		999;
	width:160px;
	background:#1F668F;			
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			13.4em; /* match ul width */
	top:			-4px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;	
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			13.4em; /* match ul width */
	top:			0;		
}

/*** DEMO SKIN ***/
.sf-menu {
	float:left;		
}
.sf-menu li {
	/*background:#006391;	*/		
}
.sf-menu a:link, .sf-menu a:visited {	
	text-decoration:none;	
	text-align:center;	
	color:#333;	
}
.sf-menu a, 
.sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:#FFF;		
}
.sf-menu li li {
	margin:0 0 0 0;
	width:100%;		
	border-bottom:1px solid #145275;	
}
.sf-menu li li:last-child {
	border:0;
}
.sf-menu li li a:link, 
.sf-menu li li a:visited {
	text-align:left;
	font-weight:normal;
	font-size:12px;
	color:#FFF;
	text-shadow:0 1px 1px #062b3f;
	padding:8px 12px;	
	text-transform:none;
	border-top:1px solid #2e77a1;
}
.sf-menu li li a:hover {
	background:#2b77a3;		
}
.sf-menu li:hover {
	background:#2b77a3;			
}
.sf-menu li li:hover, 
.sf-menu li li.sfHover {
	outline:0;			
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.5em !important;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			10px;
	top:			1em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../img/arrow-menu.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			1.7em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/		
}
.sf-menu ul a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em !important;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/		
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/	
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position: 0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/	
}

/*** shadows for all but IE6 ***/
/*.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}*/
