/*TABS*/
.tabs {
	padding:22px;
	height:auto!important;	
	position:relative;
}
.tab-menu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 40px; /*--Set height of tabs--*/
	border-bottom: 1px solid #D4D4D4;
	width: 100%;
}
.tab-menu li {
	float: left;
	margin:0 6px 0 0;
	padding:0;
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #D4D4D4;	
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background:#dcdcdc;
}
.tab-menu li a {
	text-decoration: none;
	color: #333;
	display: block;
	font-size:12px;
	font-weight:bold;
	padding:4px 15px 4px 15px;
	outline: none;	
	text-shadow:0 1px 1px #FFF;
}
.tab-menu li a:hover {
	background: #D4D4D4;
}
html .tab-menu li.active, 
html .tab-menu li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background:#F4F4F4;
	border-bottom: 1px solid #F4F4F4; /*--Makes the active tab look like it's connected with its content--*/
}


/*TAB CONTAINER*/
.tab-container {
	border:1px solid #D4D4D4;
	border-top: none;
	overflow: hidden;
	clear:both;
	float: left; 
	width:622px;
	background:#F4F4F4 url(../img/tab-bg.gif) repeat-x;	
}
.tab-content {
	padding:22px 22px 7px 22px;
	position:relative;
}